/* Blarg City Theme
   Design by StapleButter */
   
@import url('../../css/borders.css');

body
{
	background: black url("blargground.png");
	color: #eef;
}

a:link { color: #9bf; }
a:visited { color: #8af; }
a:active, a:hover { color: white; }

table, tr, td, th, div
{
	border-color: #23f;
}

.header1
{
	background: #01a;
}

.header0
{
	background: #018;
}

.cell1, table.post td.post
{
	background: #002;
}

.cell0, .cell2, table.post td.side, table.post td.meta
{
	background: #004;
}


button, input[type="button"], input[type="submit"]
{
	border: 2px solid #23f;
	background: black;
	color: #eef;
}

input[type="text"], input[type="password"], input[type="file"], input[type="email"], select, textarea
{
	background: black;
	border: 1px solid #23f;
	color: #eef;
}

div#tabs button
{
	border-width: 1px;
	border-radius: 0px;
	margin-bottom: 1px;
}

div#tabs button.selected
{
	border-bottom: 1px solid #002;
	background: #002;
}
